html {
    scroll-behavior: smooth;
}

.infoleiste {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%); /* exakte Zentrierung */

    background-color: rgba(0, 255, 255, 0); /* aqua mit Transparenz */
    height: 40px;
    margin-top: 100px;
    border: 4px solid grey;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* auch vertikal zentriert innerhalb der Leiste */
    
    box-sizing: border-box; /* damit border zur Gesamtbreite zählt */
    z-index: 1000; /* bleibt über anderem Inhalt */
}

.info_home{
    background-color: rgb(236, 161, 161);
    width: 50px;
    height: 100%;
    border: 2px solid grey;
}

.info_events{
    background-color: rgb(236, 161, 161);
    width: 50px;
    height: 100%;
    border: 2px solid grey;
}
.info_aboutus{
    background-color: rgb(236, 161, 161);
    width: 100px;
    height: 100%;
}
.info_suchfeld{
    background-color: rgb(236, 161, 161);
    width: 50px;
    height: 100%;
    border: 2px solid grey;
}
.info_traihe{
    background-color: rgb(236, 161, 161);
    width: 70px;
    height: 100%;
    border: 2px solid grey;
}

.info_galery{
    background-color: rgb(236, 161, 161);
    width: 70px;
    height: 100%;
    border: 2px solid grey;
}


.website{
    position:absolute;
    background-color: wheat;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.home{
    height: 700px;
    background-color: wheat;
    border-radius: 100px;
    background-image: url('summercamp_background.jpg'); /* Das Bild als Hintergrund */
    background-size: contain; /* Bild wird skaliert, um den gesamten Bereich zu füllen */
    background-position: center; /* Das Bild wird zentriert */
}

.home_info{
    margin-top: 500px;
    margin-left: 200px;
    margin-right: 200px;
}

.carousel_wrapper_galery{
    background-color: rgb(111, 168, 168);
    display: grid;
    grid-template-rows: 30% 50% 20%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
}

.galery_beispiele{
    padding-left: 50px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 90%; /* oder feste Breite wie 1000px */
}

.galery_beispiele .slide_galery {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.esy_info_container{
    height: 400px;
    width: 100%;
    background-color: rgb(245, 222, 179);
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    justify-items: center; 
    padding-top: 100px;
    padding-bottom: 80px;
    align-items: center; 
}
.esy_image{
    width: 100%; /* Setzt die Breite auf 100% des Elternelements */
    height: 75%; /* Bestimmt eine feste Höhe */
    background-size: cover;
    background-image: url('group_picture.jpg'); /* Das Bild als Hintergrund */
    background-position: left center;
    border-radius: 10px;
}
.esy_info{
    height: 100%; /* Bestimmt eine feste Höhe */
    background-color: rgb(13, 112, 79);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.carousel_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.highlight_beispiele {
    padding-left: 50px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 90%; /* oder feste Breite wie 1000px */
}

.highlight_beispiele .slide {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.scroll_button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(172, 60, 60);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.galery_button{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(88, 204, 233);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.aboutus{
    background-color: rgb(15, 53, 53);
    display: grid;
    height: 400px;
    grid-template-rows: 5fr 1fr;
    padding-top: 50px;
}

.aboutus_info{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.aboutus_adress{
    display: flex;
    flex-direction: column;
}

.aboutus_subscription{
    border-color: white; 
    height: 50%;        /* Randfarbe */
    border-style: solid;      
    border-radius: 20px;
    border-color: white;
    margin-top: 50px;
    display: grid;
    padding-top: 20px;
    grid-template-rows:  20% 10% 35% 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.aboutus_links{
    display: flex;
    flex-direction: row;

}

.about_links_info{
    font: 14px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    flex: 1;
}

.logo_div{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo_div a {
    display: inline-block; /* Nicht größer als der Inhalt (also das Bild) */
    padding: 0;             /* Kein zusätzlicher Klickbereich */
    margin: 0;
  }

.logo_div img {
    display: block; /* Entfernt unerwünschte Leerzeichen */
}

